*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    background-color: black;
    color: white;
}

h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: rgb(117, 0, 0);
    text-align: center;
    padding-top: 400px ;
    background: linear-gradient(to right,rgb(151, 0, 0),blue);
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px 10px;
    animation: logo 4s infinite alternate-reverse;   
}

@keyframes logo {
    0%
    {
        color: rgb(255, 44, 44);
    }
    20%{
        color: red rgb(88, 0, 88);

    }
    100%{
        color: rgb(252, 74, 74) blue;
    }
}


