*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
}
div{
    margin-top: 40px;
    position: absolute;
    width: 400px;
    height: 300px;
    background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    border-radius:50%;
    right: 10%;
    animation: runloader 3s linear infinite alternate-reverse;
}
@keyframes runloader{
    from{
       left: 0%;
       /* transform: rotate(0deg); if any one wants to rotate circle */
    }
    to{
       left: 90%;
       /* transform: rotate(360deg); */
       scale: 0.8;
    }
}
